[package]
name = "pbrt"
version = "0.6.1"
authors = ["Jan Walter <jan@janwalter.com>"]

[features]
default = ["openexr"]

[dependencies]

atom = "0.3.5"
atomic = "0.4"
byteorder = "1"
crossbeam = "0.7"
getopts="0.2.15"
half="1"
hexf = "0.1.0"
image="*"
lazy_static = "1.2.0"
num="*"
num_cpus = "1.2"
openexr = { version = "0.6", optional = true }
pbr = "1.0"
pest = "2.0"
pest_derive = "2.0"
ply-rs = "0.1.2"
rayon = "1.0"
time = "0.1"
typed-arena = "1.3.0"
structopt = "0.2"
